{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ExStatic. Prüfungsstatistiken</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendors/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'vendors/plotly/plotly.min.js' %}"></script>
  <script src="{% static 'vendors/plotly/plotly-locale-de.js' %}"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">ExStatic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exstatic_core_university_list' %}">Universitäten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exstatic_core_department_list' %}">Bereiche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exstatic_core_examtopic_list' %}">Prüfungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container pt-1">
  	{% block content %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">A Bootstrap 4 Starter Template</h1>
        <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
        <ul class="list-unstyled">
          <li>Bootstrap 4.2.1</li>
          <li>jQuery 3.3.1</li>
        </ul>
      </div>
    </div>
    {% endblock %}
  </div>

</body>

</html>
