<tr>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{% if object.head_department %}<a href="{{ object.head_department.get_absolute_url }}">
        {{ object.head_department }}</a>{% endif %}
    </td>
    <td><a href="{{ object.university.get_absolute_url }}">{{ object.university }}</a></td>
</tr>

{% for child in object.departments.all  %}
    {% with object=child template="includes/tr_department.html" %}
        {% include "exstatic_core/includes/tr_department.html" %}
    {% endwith %}
{% endfor %}