{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_department_list' %}">Bereichsübersicht</a></p>
<table class="table">
    <thead>
    <tr>
        <th>Bereich</th>
        <th>Übergeordneter Bereich</th>
        <th>Universität</th>

    </tr>
    </thead>
    {% for object in object_list %}
        {% include "exstatic_core/includes/tr_department.html" %}
    {% endfor %}

</table>
{% if perms.exstatic_core.create_department %}
    <a class="btn btn-primary" href="{% url 'exstatic_core_department_create' %}">Neuer Bereich</a>
{% endif %}
{% endblock %}