{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_department_list' %}">Bereichsübersicht</a></p>
<table class="table">
	<tr>
		<td>Name</td>
		<td>{{ object.name }}</td>
	</tr>
	{% if object.head_department %}
	<tr>
		<td>Gehört zu</td>
		<td><a href="{{ object.head_department.get_absolute_url }}">{{ object.head_department }}</a></td>
	</tr>
	{% else %}
	<tr>
		<td>Universität</td>
		<td><a href="{{ object.university.get_absolute_url }}">{{ object.university }}</a></td>
	</tr>
	{% endif %}


	{% if object.departments.all %}
	<tr>
		<td>Bereiche</td>
		<td>
			<ul>
				{% for d in object.departments.all %}
				<li><a href="{{ d.get_absolute_url }}">{{d.name}}</a>
					<ul>
						{% for subd in d.departments.all %}
						<li><a href="{{ subd.get_absolute_url }}">{{subd.name}}</a>
							{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	{% endif %}
	<tr>
		<td>Prüfungen</td>
		<td>
			<ul>
				{% for d in object.examtopics.all %}
				<li><a href="{{ d.get_absolute_url }}">{{d.name}}</a></li>
				{% endfor %}
			</ul>
		</td>
	</tr>

	<tr>
		<td>Erstellt am</td>
		<td>{{ object.created }}</td>
	</tr>
	<tr>
		<td>Zuletzt aktualisiert</td>
		<td>{{ object.last_updated }}</td>
	</tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Bearbeiten</a>

{% endblock %}