{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'exstatic_core_escalationclause_list' %}">EscalationClause Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>percent_dev</td>
    <td>percent_min</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.percent_dev }}</td>
    <td>{{ object.percent_min }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'exstatic_core_escalationclause_create' %}">Create new EscalationClause</a>
{% endblock %}