{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'exstatic_core_escalationclause_list' %}">EscalationClause Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>percent_dev</td><td>{{ object.percent_dev }}</td></tr>
<tr><td>percent_min</td><td>{{ object.percent_min }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit EscalationClause</a>

{% endblock %}