{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'exstatic_core_examscore_list' %}">ExamScore Listing</a></p>
<table class="table">
<tr><td>points</td><td>{{ object.points }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit ExamScore</a>

{% endblock %}