{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_examtopic_list' %}">Prüfungsthemenübersicht</a></p>
<table class="table">
    <thead>
    <tr>
        <th>Prüfung</th>
        <th>Bereich/Fach</th>
        <th>Universität</th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tr>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td><a href="{{ object.department.get_absolute_url }}">{{ object.department }}</a></td>
        <td><a href="{{ object.department.university.get_absolute_url }}">{{ object.department.university }}</a></td>
    </tr>
    {% endfor %}
</table>
{% if perms.exstatic_core.create_examtopic %}
<a class="btn btn-primary" href="{% url 'exstatic_core_examtopic_create' %}">Neues Prüfungsthema</a>
{% endif %}
{% endblock %}