{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'exstatic_core_examscore_list' %}">ExamScore Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>points</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.points }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'exstatic_core_examscore_create' %}">Create new ExamScore</a>
{% endblock %}