{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_exam_list' %}">Prüfungsübersicht</a></p>

<h3>{{object.topic}} am {{object.date|date:"SHORT_DATE_FORMAT"}}</h3>
<table class="table">
<tr><td>Höchstpunktzahl</td><td>{{ object.points_max }}</td></tr>
<tr><td>Nötige Punkte (regulär)</td><td>{{ object.points_required }}</td></tr>
<tr><td>Nötige Punkte (real)</td><td>{{ object.real_points_required }}</td></tr>
<tr><td>Median</td><td>{{object.median}}</td></tr>
<tr><td>Mittel</td><td>{{object.mean}}</td></tr>
<tr><td>Teilnehmer</td><td>{{object.examscores.count}}</td></tr>
<tr><td>Nicht bestanden</td><td>{{object.failed}}</td></tr>
{% comment %}
<tr><td>Ergebnisse</td>
	<td>
		<ul>
			{% for r in object.examscores.all %}
			<li>{{r.points}} Punkte</li>
			{% endfor %}
		</ul>
	</td>
</tr>
	{% endcomment %}
	<tr>
		<td>Erstellt am</td>
		<td>{{ object.created }}</td>
	</tr>
	<tr>
		<td>Zuletzt aktualisiert</td>
		<td>{{ object.last_updated }}</td>
	</tr>
</table>

<h3>Statistik:</h3>
<table class="table">
	<tr>
		<td>Minimum</td>
		<td>{{object.min}}</td>
		<td>Maximum</td>
		<td>{{object.max}}</td>
	</tr>
	<tr>
		<td>Modus</td>
		<td>{{object.mode}}</td>
		<td>Median</td>
		<td>{{object.median}}</td>
	</tr>
	<tr>
		<td>Mittelwert</td>
		<td>{{object.mean}}</td>
		<td>Standardabweichung</td>
		<td>{{object.stdev}}</td>
	</tr>
	<tr>
		<td>0,25 Quartile</td>
		<td>{{object.quartiles.0}}</td>
		<td>0,75 Quartile</td>
		<td>{{object.quartiles.2}}</td>
	</tr>
</table>


<div id="plot"></div>
<script>
	var x = [{{object.examscores.all | join:","}}];


	var trace = {
		x: x,
		type: 'histogram',
		  };

		var layout = {
		  xaxis: {range: [0, {{object.points_max}}]},
		    shapes: [
			    //line vertical
			    {
			      type: 'line',
			      x0: {{ object.real_points_required }},
			      y0: 0,
			      x1: {{ object.real_points_required }},
			      y1: 10,
			      line: {
			        color: 'rgb(25, 182, 0)',
			        width: 3
			      }
			    }
			    ]
		};

		var data = [trace];
		var config = {locale: 'de'};
		Plotly.newPlot('plot', data, layout, config);
        </script>

<div id="boxplot">
	<script>
		var trace1 = {
			x: x,
			type: 'box',
		};


		var data = [trace1];

		var layout = {
			title: 'Horizontal Box Plot'
		};

		Plotly.newPlot('boxplot', data, layout);
	</script>
</div>
<a class="btn btn-primary" href="{{object.get_update_url}}">Bearbeiten</a>
<a class="btn btn-secondary" href="{{object.api}}?format=json">API</a>

{% endblock %}