{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_examtopic_list' %}">Prüfungsthemenübersicht</a></p>

<h2>{{ object.name }}</h2>
<p>{{object.add_info}}</p>

<h3>Prüfungen</h3>
<table class="table">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Höchstpunktzahl</th>
        <th>Bestehensgrenze</th>
        <th>Teilnehmer</th>
        <th>Nicht bestanden</th>
        <th>Durchfallquote</th>
    </tr>
    </thead>

    {% for exam in object.exams.all %}
    <tr>
        <td><a href="{{exam.get_absolute_url}}">{{ exam.date|date:"SHORT_DATE_FORMAT" }}</a></td>
        <td>{{ exam.points_max }}</td>
        <td>{{ exam.real_points_required }}</td>
        <td>{{exam.examscores.all|length}}</td>
        <td>{{exam.failed}}</td>
        <td>{{exam.failed_percentage}}%</td>
    </tr>
    {% endfor %}
</table>

<a class="btn btn-primary" href="{{examtopic.get_update_url}}">Bearbeiten</a>

{% endblock %}