{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_exam_list' %}">Prüfungsübersicht</a></p>
<table class="table">
<tr>
    <td>Link</td>
    <td>Datum</td>
    <td>Höchstpunktzahl</td>
    <td>Bestehensgrenze (normal)</td>
    <td>Teilnehmer</td>
</tr>
    {% for object in object_list %}
    <tr>
        <td><a href="{{object.get_absolute_url}}">{{object.topic}}</a></td>
        <td>{{ object.date }}</td>
        <td>{{ object.points_max }}</td>
        <td>{{ object.points_required }}</td>
        <td>{{object.examscores.all|length}}</td>
    </tr>
    {% endfor %}
</table>
{% if perms.exstatic_core.create_exam %}
<a class="btn btn-primary" href="{% url 'exstatic_core_exam_create' %}">Create new Exam</a>
{% endif %}
{% endblock %}