{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_university_list' %}">Universitätsübersicht</a></p>
<table class="table">
    <thead>
    <tr>

        <th>Name</th>
        <th>Erstellt am</th>
    </tr>
    </thead>

    {% for object in object_list %}
    <tr>
        <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
        <td>{{ object.created }}</td>
    </tr>
    {% endfor %}
</table>
{% if perms.exstatic_core.create_university %}
<a class="btn btn-primary" href="{% url 'exstatic_core_university_create' %}">Neue Universität</a>
{% endif %}
{% endblock %}