{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'exstatic_core_university_list' %}">Zur Übersicht der Universitäten</a></p>
<h3>{{ object.name }}</h3>
<table class="table">
	<tr>
		<td>Informationen</td>
		<td>{{ object.add_info }}</td>
	</tr>
	<tr>
		<td>Bereiche</td>
		<td>
			<ul>
				{% for d in object.head_departments %}
				<li><a href="{{ d.get_absolute_url }}">{{d.name}}</a>
					<ul>
						{% for subd in d.departments.all %}
						<li><a href="{{ subd.get_absolute_url }}">{{subd.name}}</a>
							{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr>
		<td>Erstellt</td>
		<td>{{ object.created }}</td>
	</tr>
	<tr>
		<td>Aktualisiert</td>
		<td>{{ object.last_updated }}</td>
	</tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Bearbeiten</a>

{% endblock %}